


/* Header/Blog Title */
.header {
	padding: 30px 0px 0px;
	background-color: #850909;
	color:white;
}

.header img {
  float: left;
  width: 100px;
  padding-bottom:10px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.footer {
	padding: 30px 40px;
	background-color: #850909;
}
.main-body {
	background-color: #fce8e8;
	padding: 20px 0px;
}

.btn-primary.custom-btn {
	background-color: #800000;
	border-color: #000;
}

.btn-primary.custom-btn:hover, .btn-primary.custom-btn:focus{
	background-color: #db0000;
}

.card {
	background-color: white;
	border-color: gray;
	padding: 20px 20px;
}

.card img, .sidebar img{
	width: 60%;
	margin-left:auto; 
	margin-right:auto; 
	display:block;
}
.sidebar {
	background-color:white;
	border-color:gray;
	padding: 20px 20px;
	
}

/*heading font*/
@font-face{
	font-family: StyleThief;
	src: url("Style Thief.otf");
}

/*paragraph font*/
@font-face{
	font-family: Raleway;
	src: url(Raleway-VariableFont_wght.ttf);
}

p {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family:Raleway;
}
h2, h3 {
	font-family: StyleThief !important;
	text-align: center;
	font-size: 48pt !important;
	color: #850909 !important;
}

/* h3 {
	font-family: StyleThief !important;
	text-align: center;
	color: #850909;
} */