
/* Header/Blog Title */
.header {
	padding: 30px 0px 0px;
	background-color: #850909;
	color:white;
}

.header img {
  float: left;
  width: 100px;
  padding-bottom:10px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

/*heading font*/
@font-face{
	font-family: StyleThief;
	src: url("Style Thief.otf");
}

/*paragraph font*/
@font-face{
	font-family: Raleway;
	src: url(Raleway-VariableFont_wght.ttf);
}

p {
	font-family:Raleway;
}
h2 {
	font-family: StyleThief !important;
	text-align: center;
	font-size: 48pt !important;
	color: #850909;
}